<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Railo Docs!</h1>
        <p>This site provides community generated documentation for <a href="http://www.getrailo.org" target="_blank">Railo Server</a>.</p>
        <p>If you haven't already, why not download Railo Server, it's Open Source and Free!</p>

        <a class="btn btn-primary btn-lg" href="http://www.getrailo.org/download" target="_new">Download &raquo;</a>
      </div>
</div>

 <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2>Tags</h2>
          <p>Tags are at the core of Railo Server's templating language. You can check out every tag that has been created, across versions in this site. </p>
          <p><a class="btn btn-default" href="/tags">View Tags &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Functions</h2>
          <p>Aside from Tags, Railo Server provides you with a huge number of functions, nearly 600 of them in fact! You can use Functions simply to get access to the core functionality to modify code as well as accessing external systems</p>
          <p><a class="btn btn-default" href="/functions">View Functions &raquo;</a></p>
       </div>
       <div class="col-md-4">
          <h2>Objects</h2>
          <p>There are several base classes in Railo that you can use member functions with. These are defined as objects in the documentation and you can read about it here. </p>
          <p><a class="btn btn-default" href="/objects">View Objects &raquo;</a></p>
       </div>
       
</div>



      