doctype
html
  head
    title #{title} - RailoDocs
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 RailoDocs
    .container
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus